@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'all.css';


.card {
    width: 190px;
    height: 254px;
    background: #f5f5f5;
    transition: box-shadow .3s ease, transform .2s ease;
   }

   .card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease, opacity .2s ease;
   }

   /*Image*/
   .card-avatar {
    --size: 60px;
    background-image: url('/public/img/LOGO.png');
    background-position: center;
    background-size: cover ;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transition: transform .2s ease;
    margin-bottom: 1rem;
   }


   /*Card footer*/
   .card-social {
    transform: translateY(200%);
    display: flex;
    justify-content: space-around;
    width: 100%;
    opacity: 0;
    transition: transform .2s ease, opacity .2s ease;
   }

   .card-social__item {
    list-style: none;
   }

   .card-social__item svg {
    display: block;
    height: 18px;
    width: 18px;
    fill: #515F65;
    cursor: pointer;
    transition: fill 0.2s ease ,transform 0.2s ease;
   }

   /*Text*/
   .card-title {
    color: #333;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 2rem;
   }

   .card-subtitle {
    color: #859ba8;
    font-size: 0.8em;
   }

   /*Hover*/
   .card:hover {
    box-shadow: 0 8px 50px #23232333;
   }

   .card:hover .card-info {
    transform: translateY(-5%);
   }

   .card:hover .card-social {
    transform: translateY(100%);
    opacity: 1;
   }

   .card-social__item svg:hover {
    fill: #232323;
    transform: scale(1.1);
   }

   .card-avatar:hover {
    transform: scale(1.1);
   }



   /* card home */
   #cards {
    width: 190px;
    height: 254px;
position: relative;
border: 3px ridge #ff3939;
outline: none;
background-color: transparent;
color: white;
transition: 1s;
border-radius: 0.3em;
font-size: 16px;
font-weight: bold;
cursor: pointer;
}

#cards::after {
content: "";
position: absolute;
top: 3px;
left: -20px;
width: 20%;
height: 95%;
background-color: #ffffff;
transition: 0.5s;
transform-origin: center;
}

#cards::before {
content: "";
transform-origin: center;
position: absolute;
top: 6px;
right: -11%;
width: 20%;
height: 95%;
background-color: #ffffff;
transition: 0.5s;
}

#cards:hover::before, button:hover::after {
transform: scale(0)
}

#cards:hover {
box-shadow: inset 0px 0px 25px #ff3939;
}
/* cards home */



/* LOADING */
.loader {
    display: flex;
    background-color: #232323;
    justify-content: center;
    align-items: center;
  }

  .spinner {
    width: 250px;
    height: 150px;
    position: relative;
    animation: rotation 0.75s linear infinite;
    border-radius: 100em;
  }

  .path {
    stroke-dasharray: 100;
    stroke-dashoffset: 20;
    stroke-linecap: round;
  }

  @keyframes rotation {
    to {
      transform: rotate(360deg);
    }
  }

/* LOADING */


/* button login */
#buttonlogin {
    width: 10em;
    position: relative;
    height: 3.5em;
    border: 3px ridge #ff3939;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }

  #buttonlogin::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #212121;
    transition: 0.5s;
    transform-origin: center;
  }

  #buttonlogin::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #212121;
    transition: 0.5s;
  }

  #buttonlogin:hover::before, button:hover::after {
    transform: scale(0)
  }

  #buttonlogin:hover {
    box-shadow: inset 0px 0px 25px #ff3939;
  }
  /* button login */


  /* button download resume */
  #downloadButton {
    width: 10em;
    position: relative;
    height: 3.5em;
    border: 3px ridge #ff3939;
    outline: none;
    background-color: transparent;
    color: black;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }

  #downloadButton::after {
    content: "";
    position: absolute;
    top: -6px;
    left: 3%;
    width: 95%;
    height: 20%;
    background-color: #ffffff;
    transition: 0.5s;
    transform-origin: center;
  }

  #downloadButton::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 92%;
    left: 3%;
    width: 95%;
    height: 20%;
    background-color: #ffffff;
    transition: 0.5s;
  }

  #downloadButton:hover::before, #downloadButton:hover::after {
    transform: scale(0)
  }

  #downloadButton:hover {
    box-shadow: inset 0px 0px 25px #ff3939;
  }

  /* download resume */


  /* progressbar */
:root {
	--c1: #2187e7;
	--b2: #222;
	--b3: #333;
	--w1: #fff;
	--w2: #eee;
	--t1: all 0.5s ease 0s;
}

.profile-skills > div {
	width: 20%;
	margin-right: 3%;
	border-radius: 2px;
	position: relative;
}

ul.skills {
	width: 100%;
	position: relative;
	padding: 25px 35px;
	background: linear-gradient(0deg, var(--c1) 0 10px,	var(--b2) 0 calc(100% - 10px), var(--c1) 0 100%);
}

ul.skills2 {
	--c1: #9acd32;
}

ul.skills3 {
	--c1: #ff4500;
}

ul.skills:before {
	content: "Skills";
	position: absolute;
	top: -75px;
	height: 50px;
	color: var(--w1);
	background-color: var(--b2);
	width: 100%;
	left: 0;
	padding: 15px 15px 0 0;
	text-align: end;
	font-weight: 600;
	z-index: 1;
	transition: var(--t1);
	font-size: 20px;
	line-height: 35px;
	transform: scaleY(1.65);
}

ul.skills2:before {
	content: "Tools";
}

ul.skills3:before {
	content: "Codes";
}

ul.skills:after {
	content: "";
	position: absolute;
	border: 40px solid #fff0;
	border-top-color: var(--b2);
	top: -30px;
	left: 10px;
	z-index: 0;
	transition: var(--t1);
	filter: drop-shadow(0 11px 0.1px var(--w1));
}

ul.skills:hover:before,
label:hover + ul.skills:before,
input:checked + label + ul.skills:before {
	transition: var(--t1);
	background-color: #2187e7;
	background-position: 0 50%;
}
ul.skills:hover:after,
label:hover + ul.skills:after,
input:checked + label + ul.skills:after {
	top: -20px;
	transition: var(--t1);
	border-top-color: #2187e7;
}

ul.skills2:hover:before,
label:hover + ul.skills2:before,
input:checked + label + ul.skills2:before {
	background-color: #9acd32;
}
ul.skills2:hover:after,
label:hover + ul.skills2:after,
input:checked + label + ul.skills2:after {
	border-top-color: #9acd32;
}

ul.skills3:hover:before,
label:hover + ul.skills3:before,
input:checked + label + ul.skills3:before {
	background-color: #ff4500;
}
ul.skills3:hover:after,
label:hover + ul.skills3:after,
input:checked + label + ul.skills3:after {
	border-top-color: #ff4500;
}

ul.skills li {
	--per: 50;
	--dur: calc(calc(var(--per) / 100) * 1.5s);
	margin: 0 0 5px 0;
	list-style: none;
	padding: 20px 0;
	position: relative;
	text-transform: uppercase;
	font-size: 15px;
	color: var(--w2);
}

ul.skills li:before {
	content: "";
	position: absolute;
	background: #1c1c1c;
	height: 16px;
	width: 100%;
	left: 0;
	bottom: 0;
	border-radius: 2px;
	border: 1px solid #111;
	border-color: #111 #323232 #323232 #111;
	--track: #2292dd40;
	background: linear-gradient(
		90deg,
		var(--track) calc(calc(var(--per) * 1%) + 4px),
		#1c1c1c calc(calc(var(--per) * 1%) + 4px)
	);
}

ul.skills2 li:before {
	--track: #9acd3240;
}

ul.skills3 li:before {
	--track: #ff450040;
}

ul.skills li:after {
	content: "";
	height: 11px;
	margin: 0 0 2px 0;
	background: #2187e7;
	position: absolute;
	box-shadow: 0px 0px 10px 1px #00c6ff66;
	left: 3px;
	width: 0%;
	bottom: 0;
	transition: all var(--dur) ease 0s;
	animation: start 1s ease 0s 2 alternate;
}

ul.skills2 li:after {
	background: #9acd32;
	box-shadow: 0px 0px 10px 1px #9acd3299;
}

ul.skills3 li:after {
	background: #ff4500;
	box-shadow: 0px 0px 10px 1px #ff450099;
}

ul.skills li:hover {
	filter: brightness(1.5);
	transition: var(--t1);
}

ul.skills:hover li:after,
label:hover + ul.skills li:after,
input:checked + label + ul.skills li:after {
	width: calc(calc(var(--per) * 1%) - 2px);
}

@keyframes start {
	100% {
		width: calc(calc(var(--per) * 1%) - 2px);
	}
}

ul.skills2 li:after {
	animation-delay: 0.5s;
}
ul.skills3 li:after {
	animation-delay: 1s;
}

ul.skills li span {
	font-weight: 500;
}

ul.skills li span:before {
	position: absolute;
	right: -25px;
	top: 43px;
	transition: var(--t1);
	content: "";
	opacity: 1;
	border: 7px solid #fff0;
}

ul.skills li:hover span:before,
.profile-skills input:checked + label + ul.skills li span:before {
	transition: var(--t1);
	right: calc(calc(calc(100 - var(--per)) * 1%) - 12px);
	opacity: 1;
	border-right-color: #2187e7;
}

ul.skills2 li:hover span:before,
.profile-skills input:checked + label + ul.skills2 li span:before {
	border-right-color: #9acd32;
}

ul.skills3 li:hover span:before,
.profile-skills input:checked + label + ul.skills3 li span:before {
	border-right-color: #ff4500;
}

ul.skills li span:after {
	position: absolute;
	right: -40px;
	top: 38px;
	transition: var(--t1);
	counter-reset: percent var(--per);
	/*content: counter(percent) "%";*/
	content: counter(percent);
	color: var(--b2);
	opacity: 1 !important;
	padding: 4px 6px;
	border-radius: 1px;
	font-weight: bold;
	pointer-events: none;
}

ul.skills li:hover span:after,
.profile-skills input:checked + label + ul.skills li span:after {
	transition: var(--t1);
	right: calc(calc(85 - var(--per)) * 1%);
	right: calc(calc(calc(100 - var(--per)) * 1%) - 40px);
	opacity: 1;
	background: var(--c1);
}

ul.skills2 li:hover span:after {
	background: #9acd32;
}

ul.skills3 li:hover span:after {
	background: #ff4500;
}

/*********************/
/*** SKILLS VALUES ***/
/*********************/

ul.skills li.sk-ani { --per: 85; }
ul.skills li.sk-cms { --per: 75; }
ul.skills li.sk-dis { --per: 90; }
ul.skills li.sk-dtb { --per: 65; }
ul.skills li.sk-pro { --per: 60; }
ul.skills li.sk-res { --per: 90; }

ul.skills li.sk-gim { --per: 90; }
ul.skills li.sk-ado { --per: 60; }
ul.skills li.sk-not { --per: 85; }
ul.skills li.sk-tri { --per: 70; }
ul.skills li.sk-wor { --per: 90; }
ul.skills li.sk-tre { --per: 65; }

ul.skills li.sk-css { --per: 95; }
ul.skills li.sk-htm { --per: 90; }
ul.skills li.sk-jav { --per: 70; }
ul.skills li.sk-php { --per: 80; }
ul.skills li.sk-sql { --per: 65; }
ul.skills li.sk-pug { --per: 40; }

/*********************/
/***** TOP LABELS ****/
/*********************/

.profile-skills input {
	display: none;
}

.profile-skills label {
	background: var(--w1);
	position: absolute;
	top: -61px;
	left: 22px;
	z-index: 2;
	width: 55px;
	height: 55px;
	border-radius: 100%;
	cursor: pointer;
	transition: var(--t1);
	box-shadow: 0 0 0 0 var(--w1);
}

.profile-skills label:before {
	content: "";
	background: #fff0;
	position: absolute;
	top: 12px;
	left: 11px;
	z-index: 2;
	border: 9px solid var(--b2);
	border-top-width: 0;
	border-right-width: 0;
	transform: rotate(-45deg);
	width: 33px;
	height: 22px;
	border-radius: 2px;
	transition: var(--t1);
}

.profile-skills label:hover {
	box-shadow: 0 0 0 3px var(--w1);
	transition: var(--t1);
}

.profile-skills label:hover:before {
	border-color: var(--b2);
	transition: var(--t1);
}

.profile-skills input:checked + label {
	box-shadow: 0 0 0 6px var(--w1);
	transition: var(--t1);
}

.profile-skills input:checked + label:before {
	border-color: #2187e7;
}

.profile-skills input#sk2:checked + label:before {
	border-color: #9acd32;
}

.profile-skills input#sk3:checked + label:before {
	border-color: #ff4500;
}

label[for="sk1"] {
	/*left: -10px;*/
}
label[for="sk2"] {
	/*left: calc(34% - 6px);*/
}


label[for="sk1"]:before {
	border-color: cornflowerblue;
}
label[for="sk2"]:before {
	border-color: yellowgreen;
}
label[for="sk3"]:before {
	border-color: orangered;
}

/*********************/
/*** BOTTOM LABELS ***/
/*********************/

ul.skills li.more {
	padding: 0;
	margin-bottom: 20px;
}

ul.skills li.more:before,
ul.skills li.more:after {
	display: none;
}

ul.skills li.more:hover {
	filter: none !important;
}

ul.skills li.more div {
	max-height: 0;
	transition: var(--t1);
	overflow: hidden;
	padding: 0;
	width: 100%;
}
ul.skills li.more input:checked ~ div {
	max-height: 150px;
	transition: var(--t1);
	padding: 20px 0 0;
}

ul.skills li.more div span:before,
ul.skills li.more div span:after {
	display: none;
}

ul.skills li.more label {
	background: linear-gradient(163deg, var(--b2) 50%, var(--w1) 50%);
	right: 0;
	left: inherit;
	top: inherit;
	bottom: -70px;
	color: var(--b2);
	background-size: 100% 300%;
	background-position-y: 100%;
	transition: var(--t1);
	width: 55px;
	height: 55px;
	right: -50px;
}

ul.skills li.more label:before {
	border: 0;
	height: 100%;
	width: 100%;
	transform: rotate(0deg);
	content: "+";
	content: "\271A";
	font-size: 45px;
	line-height: 55px;
	left: 0;
	top: 0;
	text-align: center;
	color: var(--c1);
}

ul.skills li.more label:hover {
	background-position-y: 0%;
	color: var(--w1) !important;
	transition: var(--t1);
	box-shadow: 0 0 0 10px var(--w1);
}

ul.skills li.more span {
	background: #1c1c1c;
	border-radius: 1px;
	margin: 10px 10px 1px 1px;
	padding: 4px 8px;
	display: inline-block;
	border: 1px solid #111;
	border-color: #111 #323232 #323232 #111;
}

ul.skills li.more span:hover {
	color: var(--w0);
	background: var(--c1);
	box-shadow: 0px 0px 5px 1px var(--c1);
	border-color: #fff2;
}

ul.skills li.more input:checked + label {
	box-shadow: 0 0 0 9px var(--w1);
	background-position-y: 0%;
	color: var(--w0);
	bottom: -70px;
}

ul.skills li.more input:checked + label:before {
	content: "\2759";
	transform: rotate(90deg);
	font-weight: 600;
}

ul.skills li.more input:checked + label:hover {
	box-shadow: 0 0 0 0 var(--w1);
	background-position-y: 100%;
	color: var(--b2) !important;
}

@media only screen and (max-width: 1024px) {
	.content { height: 60vh; }
	.profile-skills {
		flex-direction: row;
    flex-wrap: wrap;
		top: 20px;
	}
	.profile-skills > div {
		width: 47% !important;
	}
	.profile-skills > div:nth-child(3) {
		width: 98% !important;
		margin-top: 120px;
	}
}

/* progress bare */


/* projects */
/* CodePen Card */

.cardp {
    width: 15em;
    height: 10em;
    background-color: #252525;
    border-radius: 7px;
    cursor: pointer;
  }

  .fl {
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    transition: .2s ease-in-out;
  }

  .fl:hover .fullscreen {
    scale: 1.2;
  }

  .fl:hover .fullscreen_svg {
    fill: white;
  }

  .fullscreen {
    width: 1.5em;
    height: 1.5em;
    border-radius: 5px;
    background-color: #727890;
    margin: 1em;
    margin-right: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s ease-in-out;
    box-shadow: 2px 2px 6px rgba(0,0,0,.4);
  }

  .fullscreen_svg {
    width: 15px;
    height: 15px;
    fill: rgb(177, 176, 176);
    transition: .2s ease-in-out;
  }

  .card_back {
    position: absolute;
    width: 15em;
    height: 13em;
    background-color: rgba(30, 31, 38, 0.575);
    border-radius: 7px;
    margin-top: -5em;
    margin-left: 0.7em;
    transition: .2s ease-in-out;
    z-index: -1;
  }

  .main:hover .card_back {
    margin-top: -6.25em;
    margin-left: 0em;
    scale: 1.1;
    height: 15.25em;
    cursor: pointer;
  }

  .main:hover .fl {
    opacity: 1;
    cursor: pointer;
    margin-right: 0.5em;
  }

  .data {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
  }

  .img {
    width: 2.25em;
    height: 2.25em;
    background-color: #252525;
    border-radius: 5px;
    overflow: hidden;
  }

  .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 0.5em;
    font-family: Montserrat;
    color: black;
  }

  .text_m {
    font-weight: bold;
    font-size: 0.9em;
  }

  .text_s {
    font-size: 0.7em;
  }

  .btns {
    display: flex;
    gap: 0.5em;
    transition: .2s ease-in-out;
  }

  .likes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5em;
    height: 1.4em;
    border-radius: 4px;
    margin-top: -0.5em;
    opacity: 0;
    background-color: #444857;
    transition: .2s ease-in-out;
  }

  .likes_text {
    font-family: Montserrat;
    font-size: 0.8em;
    margin-left: 0.25em;
    color: white;
  }

  .likes_svg {
    width: 12px;
    height: 12px;
    fill: white;
  }

  .likes:hover {
    background-color: #5A5F73;
    cursor: pointer;
  }

  .comments {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5em;
    height: 1.4em;
    border-radius: 4px;
    margin-top: -0.5em;
    opacity: 0;
    background-color: #444857;
    transition: .24s ease-in-out;
  }

  .comments_text {
    font-family: Montserrat;
    font-size: 0.8em;
    margin-left: 0.25em;
    color: white;
  }

  .comments_svg {
    width: 12px;
    height: 12px;
    fill: white;
  }

  .comments:hover {
    background-color: #5A5F73;
    cursor: pointer;
  }

  .views {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 1.4em;
    border-radius: 4px;
    margin-top: -0.5em;
    opacity: 0;
    background-color: #444857;
    transition: .28s ease-in-out;
  }

  .views_text {
    font-family: Montserrat;
    font-size: 0.8em;
    margin-left: 0.25em;
    color: white;
  }

  .views_svg {
    width: 12px;
    height: 12px;
    fill: white;
  }

  .views:hover {
    background-color: #5A5F73;
    cursor: pointer;
  }

  .main:hover .likes {
    margin-top: 0.5em;
    opacity: 1;
  }

  .main:hover .comments {
    margin-top: 0.5em;
    opacity: 1;
  }

  .main:hover .views {
    margin-top: 0.5em;
    opacity: 1;
  }



  /* The Main Switch */

  .card_content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* The switch - the box around the slider */
  .switch_738 {
    font-size: 13px;
    position: relative;
    display: inline-block;
    width: 1.2em;
    height: 3.3em;
  }

  /* Hide default HTML checkbox */
  .switch_738 .chk_738 {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider_738 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 5px;
  }

  .slider_738:before {
    position: absolute;
    content: "";
    height: .5em;
    width: 2.4em;
    border-radius: 5px;
    left: -0.6em;
    top: 0.2em;
    background-color: white;
    box-shadow: 0 6px 7px rgba(0,0,0,0.3);
    transition: .4s;
  }

  .slider_738:before, .slider_738:after {
    content: "";
    display: block;
  }

  .slider_738:after {
    background: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.15) 0) 0 50% / 50% 100%,
          repeating-linear-gradient(90deg,rgb(255, 255, 255) 0,rgb(255, 255, 255),rgb(255, 255, 255) 20%,rgb(255, 255, 255) 20%,rgb(255, 255, 255) 40%) 0 50% / 50% 100%,
          radial-gradient(circle at 50% 50%,rgb(255, 255, 255) 25%, transparent 26%);
    background-repeat: no-repeat;
    border: 0.25em solid transparent;
    border-left: 0.4em solid #ffffff;
    border-right: 0 solid transparent;
    transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
    transform: translateX(-22.5%) rotate(90deg);
    transform-origin: 25% 50%;
    position: relative;
    top: 0.5em;
    left: 0.55em;
    width: 2em;
    height: 1em;
    box-sizing: border-box;
  }

  .chk_738:checked + .slider_738 {
    background-color: limegreen;
  }

  .chk_738:focus + .slider_738 {
    box-shadow: 0 0 1px limegreen;
  }

  .chk_738:checked + .slider_738:before {
    transform: translateY(2.3em);
  }

  .chk_738:checked + .slider_738:after {
    transform: rotateZ(90deg) rotateY(180deg) translateY(0.45em) translateX(-1.4em);
  }
  /* projects */
